<html>
<head>
	<title>Status</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>

	<script src="/node_modules/jquery/dist/jquery.slim.js"></script>
	<script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/node_modules/vue/dist/vue.min.js"></script>
	<script src="/node_modules/moment/min/moment.min.js"></script>
	<script src="/node_modules/vue-moment/dist/vue-moment.min.js"></script>
	<link rel="stylesheet" href="./styles.css">

	<link rel="manifest" href="manifest.webmanifest">
</head>
<body class="bg-dark p-3">
<div id="app">
	<div class="mb-3 align-items-start d-flex justify-content-between">
		<div class="logos">
			<img src="images/cpi-radant-technologies-logo.jpg" alt="CPI Radant Technologies">
			<img src="images/umass-lowell-logo.png" alt="UMass Lowell">
		</div>
		<h1 class="text-white current-time" v-if="dashboard">{{currentTime | moment("h:mm:ss A")}}</h1>
		<div v-show="!dashboard">
			<button class="btn btn-outline-primary" @click.stop="toggleDashboard()">Dashboard Mode</button>
			<a href="/logs" class="btn btn-outline-success">Logs</a>
			<button class="btn btn-outline-info" data-toggle="modal" data-target="#aboutModal">About</button>
		</div>
	</div>
	<div class="card-grid">
		<div class="card text-white" v-for="switchData in switches" :class="getCardStatus(switchData)">
			<div class="card-header d-flex justify-content-between align-items-center">
				{{getCardStatusMessage(switchData)}}
			</div>
			<div class="align-items-center card-body d-flex justify-content-center py-4">
				<h2 class="m-0 my-4 text-center">{{switchData.name}}</h2>
			</div>
			<div class="card-footer" v-if="switchData.lastStateChange">
				{{getCardLastChangedMessage(switchData)}}: {{switchData.lastStateChange | moment("h:mm A")}}
			</div>
			<div class="card-footer" v-if="!switchData.lastStateChange && switchData.firstUpdate">
				Discovered: {{switchData.firstUpdate | moment("h:mm A")}}
			</div>
		</div>
	</div>

	<!-- About Modal -->
	<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<h3>Kolorus Remote Notification System</h3>
					<hr>

					<h4 class="text-center font-italic">Designed By:</h4>

					<p class="text-center">
						<span>Brendan Lynch</span><br>
						<span>James DeLalla</span><br>
						<span>Sanjay Kadariya</span><br>
						<span>Ryan Flynn</span><br>
					</p>

					<p class="text-center mb-0 font-italic">with a special thanks to Robert Friedl for his expert advice.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="main.js"></script>
</body>
</html>