<html>
<head>
	<title>Status</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>

	<script src="/node_modules/jquery/dist/jquery.slim.js"></script>
	<script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/node_modules/vue/dist/vue.min.js"></script>
	<script src="/node_modules/moment/min/moment.min.js"></script>
	<script src="/node_modules/vue-moment/dist/vue-moment.min.js"></script>
	<link rel="stylesheet" href="./styles.css">

	<link rel="manifest" href="manifest.webmanifest">
</head>
<body class="bg-dark p-3">
<div id="app">
	<div class="mb-3 align-items-center d-flex justify-content-between">
		<div class="logos">
			<img src="images/cpi-radant-technologies-logo.jpg" alt="CPI Radant Technologies">
			<img src="images/umass-lowell-logo.png" alt="UMass Lowell">
		</div>
		<h1 class="text-white current-time" v-if="dashboard">{{currentTime | moment("h:mm:ss A")}}</h1>
		<div v-show="!dashboard">
			<button class="btn btn-outline-primary" @click.stop="toggleDashboard()">Dashboard Mode</button>
			<a href="/logs" class="btn btn-outline-success">Logs</a>
		</div>
	</div>
	<div class="card-grid">
		<div class="card text-white" v-for="switchData in switches" :class="getCardStatus(switchData)">
			<div class="card-header d-flex justify-content-between align-items-center">
				{{getCardStatusMessage(switchData)}}
			</div>
			<div class="align-items-center card-body d-flex justify-content-center py-4">
				<h2 class="m-0 my-4 text-center">{{switchData.name}}</h2>
			</div>
			<div class="card-footer">
				{{getCardLastChangedMessage(switchData)}}: {{switchData.lastStateChange | moment("h:mm A")}}
			</div>
		</div>
	</div>
</div>

<script src="main.js"></script>
</body>
</html>